# MySQL (enables persistent storage)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=cohete
MYSQL_PASSWORD=cohete
MYSQL_DATABASE=cohete_skeleton

# RabbitMQ (enables distributed message bus)
# RABBITMQ_HOST=127.0.0.1
# RABBITMQ_PORT=5672
# RABBITMQ_USER=guest
# RABBITMQ_PASSWORD=guest
